/* css styles */
body {
    background-image: url('invest-background-new.png');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.highlight {
    color: #c65656;
    font-size: 1.1em;
}

.red {
    color: #982153;
}

.something1 {
    color: #373737; /* Dark grey */
    font-size: 1.1em;
}

.nav-right {
    text-align: right;
}